<html>

<head>
  <title>Complaints</title>
  <script>function Val() {
      if (document.details.NAME.value == "") {
        alert("Please provide your Name!");
        document.details.NAME.focus();
        return false;
      }
      if (document.details.EMAIL.value == "") {
        alert("Please enter a valid Email  ");
        document.details.EMAIL.focus();
        return false;
      }
      if (document.details.ENROLLMENT.value == "") {
        alert("Please provide your Enrollment no");
        document.details.ENROLLMENT.focus();
        return false;
      }
      if (document.details.MSGS.value == "") {
        alert("Please tell us about your complaints");
        document.details.MSGS.focus();
        return false;
      }

      return (true);
    }
  </script>
  <link rel="stylesheet" href="../css/FORM.css">
</head>

<body>
  
    <nav>
        <a href="home.html"><img src="logo.jpeg" alt="IIT-Bhilai" width="100" height="100"></a>
        <div class="nav-links" id="navLiks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
              <li><a href="home.html">HOME</a></li>
              <li><a href="sign.html">PROFILE</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a href="messhome.html">MESS MENU</a></li>
              <li><a href="index.html">CALENDAR</a></li>
              <li><a href="">T&P CELL BLOGS</a></li>
              <li><a href="map.html">MAP</a></li>
              <li><a href="FORM.html">COMPLAINTS</a></li>
            </ul>
        </div>
    </nav>
  
   
  <div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <form action="" method="post" onsubmit="return(Val())" name="details">
                <span>WE ARE HERE TO HELP YOU !!<br><br> </span>
                <span>DROP YOUR COMPLAINTS HERE :)</span>
            </div>

          </div>
          <div class="screen-body-item">
            <div class="app-form">
              <div class="app-form-group">
                <input class="app-form-control" name="NAME" placeholder="NAME">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" name="EMAIL" placeholder="EMAIL">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" name="ENROLLMENT" placeholder="ENROLLMENT NUMBER">
              </div>
              <div class="app-form-group message">
                <input class="app-form-control" name="MSGS" placeholder="YOUR PROBLEMS">
              </div>
              <div class="app-form-group message">
                <input class="app-form-control" name="MSGS" placeholder="YOUR SUGGESTIONS">
              </div>
              <div class="app-form-group buttons">
                <button class="app-form-button">CANCEL</button>
                <button class="app-form-button">SEND</button>
              </div>
            </div>

          </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</body>

</html>