<html>

<head>
    <title>Complaints</title>
    <link rel="stylesheet" href="../css/form.css">
</head>

<body>

    <nav>
        <a href="home.html"><img src="../images/logo.jpeg" alt="IIT-Bhilai" width="100" height="100"></a>
        <div class="nav-links" id="navLiks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/feed">PROFILE</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">CALENDAR</a></li>
                <li><a href="">T&P CELL BLOGS</a></li>
                <li><a href="">MAP</a></li>
                <li><a href="/complaints">COMPLAINTS</a></li>

            </ul>
        </div>
    </nav>


    <div class="background">
        <div class="container">
            <div class="screen">
                <div class="screen-header">
                    <div class="screen-header-left">
                        <div class="screen-header-button close"></div>
                        <div class="screen-header-button maximize"></div>
                        <div class="screen-header-button minimize"></div>
                    </div>
                    <div class="screen-header-right">
                        <div class="screen-header-ellipsis"></div>
                        <div class="screen-header-ellipsis"></div>
                        <div class="screen-header-ellipsis"></div>
                    </div>
                </div>
                <div class="screen-body">
                    <div class="screen-body-item left">
                        <div class="app-title">
                            <form action="" method="post" onsubmit="return false" name="details" class="form-reset">
                                <span>WE ARE HERE TO HELP YOU !!<br><br> </span>
                                <span>DROP YOUR COMPLAINTS HERE :)</span>
                        </div>

                    </div>
                    <div class="screen-body-item">
                        <div class="app-form">
                            <div class="app-form-group">
                                <input class="app-form-control com-name" name="NAME" placeholder="NAME">
                            </div>
                            <div class="app-form-group">
                                <input class="app-form-control com-email" name="EMAIL" placeholder="EMAIL">
                            </div>
                            <div class="app-form-group">
                                <input class="app-form-control com-enroll" name="ENROLLMENT" placeholder="ENROLLMENT NUMBER">
                            </div>

                            <div class="app-form-group" id="submitComplaint_form">
                                <!-- <select class="js-example-placeholder-single js-states form-control"> -->
                                <select name="submitComplaint[type]" id="submitComplaint_type" class="app-form-control app-form-group">
                                <option selected class="app-form-control app-form-group dropdown">Choose Complaint Type</option>
                                <!-- <option></option> -->
                                  <option value="Hostel Issues/Staff" class="app-form-control app-form-group" style="color: rgb(92, 92, 92);">Hostel Issues/Staff</option>
                                  <option value="Mess Food/Staff" class="app-form-control app-form-group" style="color: rgb(92, 92, 92);">Mess Food/Staff</option>
                                  <option value="Campus" class="app-form-control app-form-group" style="color: rgb(92, 92, 92);">Campus</option>
                                  <option value="Faculty/Staff Issues" class="app-form-control app-form-group" style="color: rgb(92, 92, 92);">Faculty/Staff Issues</option>
                              </select>
                            </div>

                            <div class="app-form-group message">
                                <input class="app-form-control com-problem" name="MSGS" placeholder="COMPLAIN">
                            </div>

                            <!-- <div class="app-form-group buttons">
                            <button class="app-form-button" onclick="complainForm()">SEND</button>
                        </div> -->

                            <div class="container">
                                <div class="buttons app-form-group">
                                    <a href="#" class="button3" onclick="complainForm()">Send</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="../js/form.js"></script>

</body>

</html>