<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
         integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous"
           referrerpolicy="no-referrer" />
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
        <title>Login and Signup Form</title>
        <link rel="stylesheet" href=".../css/login.css" />

    </head>
    <body>
        <div class="container"> 
           <div class="forms-container">
            <div class="signin-signup">
                <form action="#" class="sign-in-form">
                    <h2 class="title">Sign-in</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" />
                     </div>
                     <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="text" placeholder="Password" />
                    </div>
                    <input type="submit" class="btn solid" value="Login" />
                <p class="social=text"> Or sign in with social platforms</p>
             <div class="social-media">
                <a href="#" class="social-icon">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-twitter "></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
             </div>   

            </form>
            </div>
           </div>
        </div>
        
        
        <script src="app.js"></script>
    </body>
</html>