<!DOCTYPE html>
<html Lang="en">
<head>
<meta charset="utf-8">
<meta nane="viewport" content="width=device-width, initial-scale=1">
<title>Menu List</title>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisty | Bree+Serif|Candal |PT+Sans">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css"></head>
<body>
    <!--MENU LIST-->
    <section id="menu-list" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center marb-35">
                <h1 class="header-h">MENU LIST</h1>
                <p class="header-p">this is book.</p>
            </div>
           <div class="col-md-12 text-center" id="menu-filter">
            <ul>
                <li><a class="filter" data-filter=".menu-restaurant">Show all</a></li>
            </ul>
           </div>
        </div><!--End row -->
    </div><!--End container-->
    </section><!--End Section-->
<!--JQuery (Bootstrap's Javascript plugin)--> 
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/Bootstrap.min.js"></script>
<script src="js/custom.js"></script>
<script src="contact-form/contactform.js"></script>
</body>
</html>