<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MESS MENU</title>


    <link rel="stylesheet" href="../css/messhome.css">
    <link rel="stylesheet" href="../css/home.css">

</head>

<body>
    <section class="header">
        <nav>
            <a href="/home"><img src="logo.png" alt="IIT-Bhilai" width="100" height="100"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/profile">PROFILE</a></li>
                    <li><a href="/feed">FEED</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/mess/home">MESS MENU</a></li>
                    <li><a href="/calender">CALENDAR</a></li>
                    <li><a href="/menu">MESS MENU</a></li>
                    <li><a href="/map">MAP</a></li>
                    <li><a href="/complaints">COMPLAINTS</a></li>

                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="contact-form">
            <form>
                <label for="hostel">Select your hostel</label>
                <select id="hostel">
               <option value ="hostel ">Select Hostel </option>
               <option value ="hostel 1"> Hostel l </option>
               <option value ="hostel 2"> Hostel 2 </option>
               <option value ="hostel 4"> Hostel 3 </option>
               <option value ="hostel 5"> Hostel 4</option>
               <option value ="hostel 6"> Hostel 5</option>
               <option value ="hostel 7"> Hostel 6 </option>
            </select>
            </form>
        </div>
    </section>
</body>

</html>