<!DOCTYPE html>
<html lang="en">

<head>
    <title>Complaints</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" type="text/css" href="../css/people.css">
    <!-- <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/sankey.js"></script>
    <script src="https://code.highcharts.com/modules/organization.js"></script> -->

</head>

<body>

    <nav>
        <a href="home.html"><img src="../images/logo.jpeg" alt="IIT-Bhilai" width="100" height="100"></a>
        <div class="nav-links" id="navLiks">
            <!-- <i class="fa fa-times" onclick="hideMenu()"></i> -->
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/feed">PROFILE</a></li>
                <li><a href="/calender">CALENDAR</a></li>
                <li><a href="">T&P CELL BLOGS</a></li>
                <li><a href="/map">MAP</a></li>
                <li><a href="/complaints">COMPLAINTS</a></li>
                <li><a href="/about">ABOUT</a></li>
            </ul>
        </div>
    </nav>

    <div class="tree">
        <ul>
            <li>
                <a href="#"><img src="./images/default.png" alt=""><span>COSA</span></a>
                <ul>
                    <li>
                        <a href="#"><img src="./images/default.png" alt=""><span>COSA President</span></a>
                        <ul>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Events Head</span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Treasurer</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
    </div>
    <hr>

    <div class="tree">
        <ul>
            <li>
                <a href="#"><img src="./images/default.png" alt=""><span>SCI Tech</span></a>
                <ul>
                    <li>
                        <a href="#"><img src="./images/default.png" alt=""><span>Raushan Kumar <br><div class="posts">GENSEC</div> </span></a>
                        <ul>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>GDSC <br><div class="posts">Lead: Ananya Hooda</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>SES <br><div class="posts">Co-ordinator: Ansh Gangwar and <br> Sudeep Ranjan Sahoo</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Electromos <br><div class="posts">Co-ordinator: Ayushi Bharti</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Ingenuity <br><div class="posts">Co-ordinator: Pravin Shankhapal <br> and Manish Salunkhe</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Epsilon Club <br><div class="posts">Co-ordinator: Mohit Kumar</div></span></a>
                            </li>
                        </ul>
                    </li>

            </li>

            </ul>
            </li>
        </ul>
    </div>
    <hr>

    <div class="tree">
        <ul>
            <li>
                <a href="#"><img src="./images/default.png" alt=""><span>Sports</span></a>
                <ul>
                    <li>
                        <a href="#"><img src="./images/default.png" alt=""><span>Aniket Mohanty <br><div class="posts">GENSEC</div> </span></a>
                        <ul>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Cricket <br><div class="posts">Co-ordinator: Mayanak Chaturvedi</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Badminton <br><div class="posts">Co-ordinator: Arnav Chauhan</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>BasketBall <br><div class="posts">Co-ordinator: Anshul Mandar</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Table Tennis <br><div class="posts">Co-ordinator: Ashish Kumar</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Football <br><div class="posts"> Co-ordinator: Sanat Tudu</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Chess <br><div class="posts">Co-ordinator: Shivam Shrivastava</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Volleyball <br><div class="posts">Co-ordinator: Arjit Bhamu</div></span></a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
    <hr>

    <div class="tree">
        <ul>
            <li>
                <a href="#"><img src="./images/default.png" alt=""><span>Culturals <br><div class="posts">General Secretary : Unnam Jessica</div> </span></a>
                <ul>
                    <li>
                        <a href="#"><img src="./images/default.png" alt=""><span>Cluturals Club <br><div class="posts">GENSEC</div> </span></a>
                        <ul>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Renaissance<br><div class="posts">Co-ordinator: Vedhamsh Bode <br> and Esha Jain</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Beathackers<br><div class="posts">Co-ordinator: Sakshi Saraswat</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Swara <br><div class="posts">Co-ordinator: Garvit Agarwal</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Drishya<br><div class="posts">Co-ordinator: Manas Raghuwanshi</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>Quizzotica<br><div class="posts">Co-ordinator: Prachir Agarwal</div></span></a>
                            </li>

                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>The Pixel Snappers <br><div class="posts">Co-ordinator: Amogh Joshi <br> and Ankita Awasthi</div></span></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/default.png" alt=""><span>DesignX <br><div class="posts">Co-ordinator: Lovy Verma</div></span></a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <script src="../js/people.js"></script>
</body>

</html>