<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/../css/personal.css">
</head>

<body>
    <nav>
        <!-- <a href="/home"><img src="../images/logo.png" alt="IIT-Bhilai" width="100" height="100"></a> -->
        <div class="nav-links" id="navLiks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/profile">PROFILE</a></li>
                <li><a href="/feed">FEED</a></li>
                <li><a href="/calender">CALENDAR</a></li>
                <li><a href="/menu">MESS MENU</a></li>
                <li><a href="/map">MAP</a></li>
                <li><a href="/complaints">COMPLAINTS</a></li>
                <li><a href="/about">ABOUT</a></li>

            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="header-container">
            <!-- <img src="https://cdn.pixabay.com/photo/2016/07/12/13/37/crane-homes-1512044__480.jpg" alt="" class="header-image" /> -->
            <div class="nav-links" id="navLiks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
            </div>
            <!-- <div class="header"> -->
            <!-- <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg" class="header-icon">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg> -->

            <!-- <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg" class="u-float-right header-icon">
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg> -->
            <!-- <h1 class="main-heading">Naksh Singhania</h1> -->
            <!-- <span class="tag">Actor</span>
            <span class="tag">Producer</span> -->
            <!-- <div class="stats"> -->
            <!-- <span class="stat-module">
                Movies <span class="stat-number">56</span>
              </span> -->
            <!-- <span class="stat-module">
                Followers<span class="stat-number">29</span>
              </span> -->
            <!-- <span class="stat-module"> -->
            <!-- Enrollment Number:  <span class="stat-number">200430</span> -->
            <!-- </span> -->
            <!-- </div> -->
            <!-- </div>  -->
            <!-- END header -->
            <!-- </div> -->
            <!-- <div class="overlay-header"></div> -->

            <div class="body">
                <div><img src="https://s17.postimg.cc/xcbukrwdr/Hugh_Jackman_f.jpg" alt="Hugh Jackman" class="body-image" />
                    <div class="stats"></div>

                    <h1 class="main-heading">Naksh Singhania</h1>
                    <div class="stat-module">
                        Enrollment Number:
                        <span class="stat-number">
                 200430
                </span>
                    </div>
                </div>
                <!-- <div class="body-action-button u-flex-center">
            <svg fill="#ffffff" height="28" viewBox="0 0 24 24" width="98" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </div> -->
                <span class="body-stats">Followers <span>3.5k</span></span>
                <span class="body-stats">Following <span>1.9k</span></span>
                <div class="u-clearfix"></div>
                <div class="body-more">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="card u-clearfix">
                    <span class="card-heading">Posts</span>
                    <span class="card-more">
              <svg fill="#777777" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
              </svg>
            </span>
                    <ul class="card-list">
                        <!-- <li><img src="https://s12.postimg.cc/c0ryp65lp/m1f.jpg" alt="" /></li>
              <li><img src="https://s14.postimg.cc/6ts0it3xt/m2f.jpg" alt="" /></li>
              <li><img src="https://s13.postimg.cc/ri499o2zr/m3f.jpg" alt="" /></li> -->

                    </ul>
                </div>
            </div>

        </div>
</body>

</html>