body {
    padding-top: 70px;
    font-family: 'Ubuntu', sans-serif;
}

@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

nav img {
    width: 100px;
}
.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 1% 8px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #dd09e0;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.home-dp {
    object-fit: contain;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin-top: 13%;
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-dp {
        object-fit: contain;
        width: 30vw !important;
        height: 30vw !important;
        border-radius: 50%;
    }
  
}

@media (max-width: 768px) {
    .home-dp {
        object-fit: contain;
        width: 50vw !important;
        height: 50vw !important;
        border-radius: 50%;
    }
}

/* .container{
    width: 70%;
} */
/* .center-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-left: solid 2px #e8e8e8;
    border-right: solid 2px #e8e8e8;
} */

.center-content-rel {
    margin: auto;
    height: inherit;
    /* width: max-content; */
}

.details {
    margin-top: 5%;
    padding-bottom: 5%;
    border-bottom: solid 1px #e8e8e8;
}
.jumbotron{
    margin-top: 12%;
}

.jumbo-name {
    font-size: 3rem;
}

@media (max-width: 768px) {
    .jumbo-name {
        font-size: 2rem;
        margin-top: 2rem;
    }
    /* .home-dp {
        margin-top: 4rem;
    } */
}

.jumbo-details {
    font-size: 1rem;
    line-height: 2rem;
    color: rgb(101, 101, 101);
}
.numbers{
    display: inline-block;
}
.number1{
    margin-left: 15%;
}
.number2{
    margin-left: 50%;
}
.jumbo-social {
    font-size: 2rem;
    color: rgb(101, 101, 101);
}

.jumbo-social i {
    margin-right: 50px;
}

@media (max-width: 768px) {
    .jumbo-social {
        font-size: 1.5rem;
    }
    .jumbo-social i {
        margin-right: 30px;
    }
}
/* #content{
    width: 70%;
} */

.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 80%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline h4 {
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.timeline .exp-details {
    font-weight: 400;
    font-size: 0.9rem;
}

.timeline .exp-details b {
    font-weight: bolder;
    /* font-size: 0.9rem; */
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    white-space: pre;
    display: inline-block;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
        content: attr(data-date-mob);
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}
.tweet {
    border-top: 1px solid var(--bg2);
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    background-color: rgb(196, 185, 185);
    /* color: #fff; */
}
.tweet .left {
    margin-right: 15px;
}
.tweet .left img {
    width: 42px;
    height: 42px;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.tweet .right {
    width: 100%;
    box-sizing: border-box;
}
.tweet .right .info {
    display: flex;
    align-items: center;
    color: var(--color);
    margin-bottom: 5px;
}

.tweet .right .info p {
    margin: 0;
    display: flex;
    align-items: center;
}
.tweet .right .info p span {
    margin: 0 10px;
    font-size: 12px;
    opacity: 0.5;
}

.tweet .right .info time {
    display: flex;
    align-items: center;
    font-size: 12px;
    opacity: 0.5;
}

.tweet .right .info time:before {
    content: "";
    height: 2px;
    width: 2px;
    margin-right: 10px;
    border-radius: 50%;
    background: var(--color);
}

.tweet .right .message p {
    margin: 0;
    color: var(--color);
    line-height: 20px;
}

.tweet .right .message img {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.tweet .right .btns {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.tweet .right .btns button {
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    color: var(--color);
    font-size: 12px;
}

.tweet .right .btns button i {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 16px;
}

.tweet .right .btns button.blue:hover {
    color: #03A9F4;
}
.btn{
    color: white;
    background-color: rgba(15, 6, 6, 0.447);
}

.tweet .right .btns button.blue:hover i {
    background: rgba(3, 169, 244, 0.1);
}

.tweet .right .btns button.green:hover {
    color: #4CAF50;
}

.tweet .right .btns button.green:hover i {
    background: rgba(76, 175, 80, 0.1);
}

.tweet .right .btns button.red:hover {
    color: #ff2f20;
}

.tweet .right .btns button.red:hover i {
    background: rgba(255, 47, 32, 0.1);
}

.tweet:hover {
    background: var(--bg2);
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

.exp-card {
    border: 0;
}

.exp-title {
    text-align: center;
    margin-bottom: 3vw;
}


/* publications css */

.pub-card {
    border: 0;
}

.pub-title {
    text-align: center;
    margin-bottom: 3vw;
}

.timeline .pub-details {
    font-weight: 400;
    font-size: 0.9rem;
}

.timeline .pub-details b {
    font-weight: bolder;
    /* font-size: 0.9rem; */
}

.timeline .pub-details i {
    margin-right: 20px;
    font-size: 1.5rem;
}

.timeline .pub-details i {
    margin-top: 30px;
}

.timeline-pub {
    border-left: 3px solid #188d4b;
    background: rgba(32, 144, 82, 0.09);
    max-width: 80%;
}

@media (max-width: 767px) {
    .timeline-pub {
        max-width: 98%;
    }
}

.timeline-pub .event:after {
    -webkit-box-shadow: 0 0 0 3px #188d4b;
    box-shadow: 0 0 0 3px #188d4b;
}

.rtl .timeline-pub {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #188d4b;
}

.timeline-pub h4 {
    margin-bottom: 5px;
}


/* awards css */

.awd-card {
    border: 0;
}

.awd-title {
    text-align: center;
    margin-bottom: 3vw;
}

.timeline .awd-details {
    font-weight: 400;
    font-size: 0.9rem;
}

.timeline .awd-details b {
    font-weight: bolder;
    /* font-size: 0.9rem; */
}

.timeline .awd-details i {
    margin-right: 20px;
    font-size: 1.5rem;
    margin-top: 30px;
}

.timeline-awd {
    border-left: 3px solid #ad1637;
    background: rgba(144, 32, 51, 0.09);
    max-width: 50%;
}

@media (max-width: 767px) {
    .timeline-awd {
        max-width: 98%;
    }
}

.timeline-awd .event:after {
    -webkit-box-shadow: 0 0 0 3px #ad1637;
    box-shadow: 0 0 0 3px #ad1637;
}

.rtl .timeline-awd {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #ad1637;
}

.timeline-awd h4 {
    margin-bottom: 5px;
}

.end-social i {
    margin: 0 25px;
}

.end-title {
    text-align: center;
    margin-bottom: 3vw;
}

@media (max-width: 767px) {
    .end-social i {
        margin: 0 10px;
        font-size: 1.2rem;
    }
    .end-title {
        font-size: 1rem;
    }
}

.social a {
    text-decoration: none;
    color: rgb(101, 101, 101);
}

.social a:hover {
    color: rgb(76, 76, 76);
}